# Global .gitignore

**/.terraform/
**/*.tfstate
**/*.tfstate.backup

CloudMap/.terraform/
CloudMap/*.tfstate
CloudMap/*.tfstate.backup
CloudMap/*.terraform.lock.hcl

Directory_Service/.terraform/
Directory_Service/*.tfstate
Directory_Service/*.tfstate.backup
Directory_Service/*.terraform.lock.hcl

EC2/.terraform/
EC2/*.tfstate
EC2/*.tfstate.backup
EC2/*.terraform.lock.hcl

ECR/.terraform/
ECR/*.tfstate
ECR/*.tfstate.backup
ECR/*.terraform.lock.hcl

ECS/.terraform/
ECS/*.tfstate
ECS/*.tfstate.backup
ECS/*.terraform.lock.hcl

FSx/.terraform/
FSx/*.tfstate
FSx/*.tfstate.backup
FSx/*.terraform.lock.hcl

RDS/.terraform/
RDS/*.tfstate
RDS/*.tfstate.backup
RDS/*.terraform.lock.hcl

VPC/.terraform/
VPC/*.tfstate
VPC/*.tfstate.backup
VPC/*.terraform.lock.hcl